<ng-container>
    <div class="h-100 d-flex justify-content-center align-items-center py-4">
        <sloth-card class="w-100 h-100 mx-4">
            <div class="accounts-card-wrapper">
                <!-- Accounts Table -->
                <div class="d-flex flex-direction-row">
                    <h2>
                        <!-- Title -->
                        Accounts
                    </h2>
                    <div class="ms-auto me-0">
                        <!-- Actions -->
                        <button (click)="showAccountCreationModal()" class="h-100 sloth-button px-2">
                            Create
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="accounts-card-content">
                    <hr>
                    <div #contentWrapper class="content-wrapper">
                        <ng-container *ngIf="layoutType == 'grid'">
                            <div #gridContainer class="grid-container">
                                <div class="accounts">
                                    <ng-container *ngIf="loaded">
                                        <ng-container  *ngFor="let account of accounts">
                                            <div class="account" *ngIf="account.accountId" (click)="openAccount(account.accountId)">
                                                <h5>{{ account.accountName }}</h5>
                                                <h6>{{ account.balance | currency }}</h6>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </sloth-card>
    </div>
</ng-container>

<sloth-modal>
    <form [formGroup]="accountCreationForm" class="accounts-form">
        <h2>account</h2>

        <div class="form-group">
            <label for="name">name: </label>
            <input id="name" class="sloth-input pull-right" type="text" formControlName="name">
        </div>

        <div class="form-group">
            <label for="startingAmount">starting Amount: </label>
            <input id="startingAmount" class="sloth-input pull-right" type="text" formControlName="startingAmount">
        </div>
    </form>

    <div class="form-group">
        <button class="sloth-button pull-right" (click)="createAccount()">Create</button>
    </div>
</sloth-modal>
