.main-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    border-right: 1px solid #323232;
}

.content-container {
    width: 100%;
    height: 100%;
}
