@use "../../base";

.sloth-sidebar {
    width: base.$sidebar-width;
    height: 100vh;
    border-right: base.$border;
    background: base.$bar-background;

    display: grid;
    grid-template-rows: base.$navbar-height 1fr;
}

.sidebar-header {
    height: base.$navbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
