<div class="sloth-sidebar">
    <div class="sidebar-header">
        SLOTH
    </div>
    <div class="sidebar-content">
        <div class="sidebar-content-top">
            <button class="sidebar-link active" [routerLink]="''">
                Dashboard
            </button>
            <button class="sidebar-link" [routerLink]="'/finance'">
                Finance
            </button>
        </div>
        <div class="sidebar-content-bottom">
            <button class="sidebar-link bottom" [routerLink]="'/admin'">
                Admin
            </button>
            <button class="sidebar-link bottom" [routerLink]="'/settings'">
                Settings
            </button>
        </div>
    </div>
</div>

