<div class="finance-wrapper">
    <div class="accounts">
        <div class="accounts-wrapper">
            <div class="account-wrapper" *ngFor="let account of accounts">
                <app-account [account]="account"></app-account>
            </div>
            <div class="accounts-wrapper">
                <button class="new-account" (click)="createNewAccount()">
                    <i class="fa-solid fa-plus"></i>
                    New Account
                </button>
            </div>
        </div>
    </div>
</div>
