<div class="editable-label-wrapper" (click)="handleClick($event)">
    <div [hidden]="!editing" class="editable-input-container">
        <input #accountName type="text" class="sloth-input" [(ngModel)]="text" (keyup)="handleKeyUp($event)" (focusout)="handleFocusOut()">
    </div>
    <div [hidden]="editing" class="editable-label-container">
        {{text}}
    </div>
    <div class="action">
        <button class="sloth-icon-button squared-button" (click)="handleEditButtonClick($event)">
            <i class="fas fa-pencil" *ngIf="!editing"></i>
            <i class="fas fa-check" *ngIf="editing"></i>
        </button>
        <button class="sloth-icon-button squared-button" [hidden]="!modified" (click)="handleRevertButton($event)">
            <i class="fas fa-rotate"></i>
        </button>
    </div>
</div>
