<div class="admin-user-search-container">
  <table class="admin-table">
    <tr class="admin-table-row">
      <th>User ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr>
      <ng-container>
        <td>1</td>
        <td>jborrie</td>
        <td>jackborrie@hotmail.com</td>
        <td class="admin-actions admin-two-actions">
          <button class="sloth-button">
            <span class="fa-solid fa-pencil"></span>
          </button>
          <button class="sloth-button">
            <span class="fa-solid fa-trash"></span>
          </button>
        </td>
      </ng-container>
    </tr>
  </table>
</div>
