@use '../../../base';

$header-height: 50px;

.bank-account-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.transactions {
    background: rgba(0,0,0,0.2);

    grid-column: 1 / 4;
    margin: 1rem;

    display: grid;
    grid-template-rows: $header-height 1fr;
}

.header {
    background: rgba(0, 0, 0, 0.1);
    display: flex;

    flex-direction: row;
    border-bottom: 1px solid base.$foreground-color;
}

.title {
    font-size: 1.4rem;
    margin-left: 1rem;

    display: flex;
    align-items: center;
}

.actions {
    height: 100%;
    border-left: 1px solid base.$foreground-color;

    margin-left: auto;
    margin-right: 0;

    width: $header-height;
}

.transactions-actions {
    border: none;
    padding: 0;
    background: transparent;

    height: 100%;
    width: 100%;
    background: 100%;
    color: base.$foreground-color;
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.transactions-actions:hover {
    background: rgba(0,0,0,0.2);
}

.transactions-actions:active {
    background: rgba(0,0,0,0.4);
}

.table {
    height: 100%;

    .transactions-wrapper {
        overflow: hidden;
    }

    .test {
        height: 100%;
        overflow: hidden;
    }

    .table-item {
        display: grid;
        grid-template-columns: 1fr 1fr 15%;
        border-bottom: 1px solid base.$foreground-color;

        .table-column {
            display: flex;
            align-items: center;
            height: 2rem;
            margin-left: 1rem;
            border-right: 1px solid base.$foreground-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .last-column {
            border-right: none !important;
            margin-left: 0;
            justify-content: center;
        }
    }

    .last-row {
        border-bottom: none;
    }

    .sort-fields {
        border-bottom: 3px solid base.$foreground-color;

        .table-column {
            font-size: 0.9rem;
            height: 2rem;
        }
    }
}

.deposit {
    color: green;
}

.withdrawal {
    color: red;
}table, th, td {
     border: 1px solid black;
 }
