@use '../../../base';

.account-wrapper {
    width: 350px;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);

    position: relative;

    display: grid;
    grid-template-rows: 100%;

    border: none;
    box-shadow: none;
    padding: 0;
}

.new {
    position: absolute;
    right: 0;

    z-index: 1;
}

.add-button {
    margin-top: 5px;
    margin-right: 5px;

    border: 1px solid base.$foreground-color;
    border-radius: 10px;
    background: transparent;
    color: base.$foreground-color;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.5rem;
    height: 20px;
    width: 20px;
}

.add-button:hover {
    background: rgba(0, 0, 0, 0.3);
}
.add-button:active {
    background: rgba(0, 0, 0, 0.5);
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 40px;

    z-index: 1;

    display: flex;
    flex-direction: row;

    background: rgba(0, 0, 0, 0.3);

    align-items: center;
}

.name {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 1rem;
}

.amount {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 1rem;
}
