@use 'src/app/base';

.modal-wrapper {
    position: fixed;
    z-index: 1;
    left: base.$sidebar-width;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal {
    height: 100px;
    width: 100px;
    background: white;
    //clip-path:
    //        polygon(
    //                        0% 10%,     /* top left */
    //                        5% 0%,     /* top left */
    //                        95% 0%,    /* top right */
    //                        100% 5%,   /* top right */
    //                        100% 95%,  /* bottom right */
    //                        95% 100%,  /* bottom right */
    //                        5% 100%,   /* bottom left */
    //                        0 95%      /* bottom left */
    //        );
}
