$foreground-color       : #EBDBB2;
$background-color       : #1B252F;
$border-color           : #504945;
$font                   : 'Ubuntu Mono', monospace;
$sidebar-width          : 2.5rem;

@mixin theme() {
    background  : $background-color;
    color       : $foreground-color;

    font-family : $font;
}
