$foreground-color       : #EBDBB2;
$background-color       : #1B252F;
$font                   : 'Ubuntu Mono', monospace;
$sidebar-width          : 200px;
$sidebar-item-height    : 40px;
$navbar-height          : 50px;
$bar-background         : #15191c;
$border                 : 1px solid $foreground-color;

@mixin theme() {
    background  : $background-color;
    color       : $foreground-color;

    font-family : $font;
}
