<div class="main-wrapper">
    <div class="app-options">
        <div class="pages">
            <a class="app-page-button" [routerLink]="''">
                <i class="fa fa-house"></i>
            </a>
            <a class="app-page-button" [routerLink]="'pages/knowledge'">
                <i class="fa fa-brain"></i>
            </a>
            <a class="app-page-button" [routerLink]="'finance/accounts'">
                <i class="fa fa-usd"></i>
            </a>

            <div class="last">
                <a class="app-page-button" [routerLink]="'pages/profile'">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a class="app-page-button" [routerLink]="'pages/settings'">
                    <i class="fa fa-gear"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="app-options-dropdown">
        <!--  TODO Drop down menu  -->
    </div>
    <div class="page-options in">
        <!-- Changes based on what is using it -->
    </div>
    <div class="content-wrapper">
        <div class="site-progress">
            <div class="site-progress-custom" *ngIf="loading"></div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
