<div class="admin-dashboard">
    <div class="sloth-tab-group">
        <div class="sloth-tab-container">
            <div class="sloth-tab-wrapper">
                <button class="sloth-tab {{currentPage == 'users' ? 'active' : ''}}" [routerLink]="'/admin/users'">
                    Users
                </button>
                <button class="sloth-tab {{currentPage == 'groups' ? 'active' : ''}}" [routerLink]="'/admin/groups'">
                    Groups
                </button>
                <button class="sloth-tab {{currentPage == 'user-groups' ? 'active' : ''}}" [routerLink]="'/admin/user-groups'">
                    User Groups
                </button>
            </div>
            <div class="filler"></div>
        </div>
        <div class="sloth-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
