<div class="admin-dashboard">
    <div class="admin-dashboard-sidebar">
        <div #adminSidebarWrapper>
            <div class="admin-sidebar-header">
                Admin Area
            </div>
            <div class="admin-sidebar-options">
                <ng-container *ngIf="adminSidebarStructure && adminSidebarStructure.content">
                    <ng-container *ngFor="let sidebarObject of adminSidebarStructure.content; let idx=index;">
                        <app-sidebar-object [object]="sidebarObject" [lastItem]="idx === adminSidebarStructure.content.length - 1"></app-sidebar-object>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div #adminDashboardContent class="admin-dashboard-content">
        <router-outlet></router-outlet>
    </div>
</div>
