@use "../../../base";
@use "sass:math";

.admin-dashboard {
    width: 100%;
    height: 100%;

    padding: 1rem;
}

.sloth-tab-group {
    height: 100%;
    display: grid;
    grid-template-rows: base.$navbar-height 1fr;

}

.sloth-tab-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.filler {
    width: 100%;
    border-bottom: base.$border;
}

.sloth-tab {
    background: transparent;
    border: base.$border;
    height: base.$navbar-height;
    width: math.div(base.$sidebar-width, 1.5);
    color: base.$foreground-color;
}

.sloth-tab.active {
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid transparent;
}

.sloth-tab:hover {
    background: rgba(0,0,0,0.2);
}

.sloth-tab:active:not(.active) {
    background: rgba(0,0,0,0.3);
}

.sloth-tab:not(:first-child) {
    border-left: none;
}

.sloth-content {
    background: rgba(0,0,0,0.2);
    border-left: base.$border;
    border-bottom: base.$border;
    border-right: base.$border;
    height: 100%;
}

@media (max-width: 900px) {
    .sloth-tab-group {
        display: flex;
        flex-direction: column;
    }

    .sloth-tab-container {
        display: flex;
        flex-direction: column;
    }

    .sloth-tab-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sloth-tab {
        width: 100%;
        border: none;
        border-left: base.$border !important;
        border-top: base.$border;
        border-right: base.$border;
    }


}
