$foreground-color       : #A5A6A8;
$foreground-hover-color : #8F8F91;
$background-color       : #1B252F;
$font                   : 'Ubuntu Mono', monospace;

@mixin theme() {
    background  : $background-color;
    color       : $foreground-color;

    font-family : $font;
}
