.stars, .twinkling, .clouds {
    position:absolute;
    display:block;
    top:0; bottom:0;
    left:0; right:0;
    width:100%; height:100%;
}

.stars {
    z-index: 0;
    background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
    z-index: 1;
    background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
    animation: move-twink-back 200s linear infinite;
}

.clouds{
    z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

$background: #2c242d;
$border: #7f5955;
$foreground: #f3f4f4;

.main-wrapper {
    height: 100%;
    width: 100%;

    color: var(--foreground-color);
}

.content-wrapper {
    position:absolute;
    top:0; bottom:0;
    left:0; right:0;
    width:100%; height:100%;
    background: transparent;
    z-index: 2;

    display: flex;
    align-items: center;
}

.image {
    margin-left: 5%;
    width: 25%;

    img {
        vertical-align: text-bottom;
        max-width: 100%;
    }
}

.right {
    margin: 0 2rem;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}

.section {
    border: 1px solid $border;
    height: auto;

    display: flex;
    flex-direction: column;

    .header {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: #94816e;

        display: flex;
        flex-direction: row;

        .title {
            margin-right: 1rem;
            color: #92938f;
        }
    }

    .content {

        li {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;

            a {
                color: $foreground;
                margin-left: 10px;
            }
        }
    }

    .footer {
        font-size: 1.5rem;
        color: #94816e;

        margin-left: 1.5rem;
        margin-top: auto;
        margin-bottom: 1.5rem;
    }
}

.links, .notes {
    margin-top      : auto;
    margin-bottom   : auto;
}
