<div class="main-wrapper">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>

    <div class="content-wrapper">
        <div class="image">
            <img src="assets/images/vertical/triangle-earth.png" alt="Earth in a triangle disk"/>
        </div>
        <div class="right">
            <div class="links section">
                <div class="header">
                    <div class="title" (click)="saveLinks()">
                        links:
                    </div>{{'{'}}
                </div>
                <div class="content">
                    <ul>
                        <li *ngFor="let item of links" (click)="deleteLink(item.id)">
                            <div class="prefix">{{ item.prefix }}</div>: <a href="{{ item.link }}">{{item.text}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    {{'}'}}
                </div>
            </div>
            <div class="notes section">
                <div class="header">
                    <div class="title" (click)="saveNotes()">
                        notes:
                    </div>{{'{'}}
                </div>
                <div class="content">
                    <ul>
                        <li *ngFor="let item of notes" (click)="deleteNote(item.id)">
                            <div class="prefix">todo</div>: <a>{{item.text}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    {{'}'}}
                </div>
            </div>
        </div>
    </div>
</div>
