<button class="account-wrapper" (click)="showAccount()" *ngIf="account">
    <div class="new">
        <button class="add-button" (click)="addTransaction($event)">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="image-wrapper" *ngIf="account.name">
        <img src="https://via.placeholder.com/350x200.png?text={{account.name | urlify}}" alt="account-image">
    </div>
    <div class="info">
        <div class="name">
            {{ account.name }}
        </div>
        <div class="amount">
            {{ (account.currentAmount ? account.currentAmount : 0) | dollar }}
        </div>
    </div>
</button>
