$sim-background: #1F202C;
$sim-foreground: #FFFFFF;

$sim-width: 1280px;
$sim-height: 720px;

.main-wrapper {
    color: $sim-foreground;
    background : $sim-background;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sim-wrapper {
    border: 1px solid $sim-foreground;
    width: $sim-width;
    height: $sim-height;
}

.button-wrapper {
    width: $sim-width;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid $sim-foreground;
    border-right: 1px solid $sim-foreground;
    border-left: 1px solid $sim-foreground;

    button {
        border: none;
        border-radius: 5px;
        padding: .5rem;
        margin: 1rem 1rem;
    }

    button:hover {
    }
}
