@use "./app/base";

:root {
    --header-height    : 2rem;
}

html, body {
    margin      : 0;
    padding     : 0;

    height      : 100%;
    font-family : Arial, Helvetica, sans-serif;

}

.main-container {
    height           : 100%;
    width            : 100%;

    background-color : base.$background-color;
    color            : base.$foreground-color;
}

.title {
    margin : 0;
}


// Buttons

.sloth-button {
  border: base.$border;
  background: transparent;
  color: base.$foreground-color;
}

.sloth-button:hover {
    background: rgba(0,0,0,0.2);
}

.sloth-button:active {
    background: rgba(0,0,0,0.4);
}

.sloth-button[disabled=true] {
    //color: #3F6367;
    color: #504945;
}

.sloth-button[disabled=true]:hover {
    background: transparent;
}

.sloth-icon-button {
  border: 0;
  background: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: base.$foreground-color;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sloth-icon-button:hover {
  background: rgba(0,0,0,0.2);
}

.sloth-icon-button:active {
  background: rgba(0,0,0,0.4);
}

.sloth-input {
    background: transparent;
    border: base.$border;
    color: base.$foreground-color;
}

.sloth-input:focus {
    outline: none;
}

// Table

.sloth-table {
    thead {
        tr {
            th {
                border: base.$border;
                padding: 0.5rem 1rem;
            }
        }
    }
    tbody {
        tr {
            td {
                border-left: base.$border;
                border-bottom: base.$border;
                border-right: base.$border;
                padding: 0.5rem 1rem;
            }
        }
    }
}
