<ng-container *ngIf="account">
    <div class="account-wrapper">
        <sloth-card class="account-details-container">
            <div class="account-name-wrapper">
                <sloth-editable-label [text]="account.accountName ?? ''" (textChanged)="handleTextChange($event)"></sloth-editable-label>
            </div>
<!--            <div class="audit-wrapper">-->
<!--                <input type="text" class="sloth-input" disabled [value]="account.updateDate">-->
<!--                <input type="text" class="sloth-input" disabled [value]="account.creationDate">-->
<!--            </div>-->

            <div class="account-info-actions">
                <button class="sloth-button info-save" [disabled]="!modified" (click)="saveAccount()">save</button>
            </div>
        </sloth-card>
        <sloth-card class="account-transactions-container">
        </sloth-card>
    </div>
</ng-container>
