<div class="main-wrapper">
    <div class="section-wrapper">
        <div class="left">
            <ng-template [ngForOf]="categories" let-category ngFor>
                <div *ngIf="category.side === 'left'" class="section">
                    <div class="title">
                        {{category.title}} {{ '{' }}
                    </div>
                    <div class="links">
                        <ul>
                            <li *ngFor="let link of category.items">{{link.prefix}}: <a href="{{link.link}}">{{link.text}}</a>;</li>
                        </ul>
                    </div>
                    <div class="footer">
                        {{ '}' }}
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="middle">
            <div class="middle-header">
                <div class="time">
                    {{ time }}
                </div>
                <div class="date">
                    {{ date }}
                </div>
            </div>
            <div class="middle-content">
                <img alt="background" src="assets/images/spooky-dead-boy.jpg">
                <div class="search-bar">
                    <input #searchBar (keyup.enter)="onEnter(); searchBar.value = ''" class="search" placeholder="Search..." type="search">
                </div>
            </div>
        </div>
        <div class="right">
            <ng-template [ngForOf]="categories" let-category ngFor>
                <div *ngIf="category.side === 'right'" class="section">
                    <div class="title">
                        {{category.title}} {{ '{' }}
                    </div>
                    <div class="links">
                        <ul>
                            <li *ngFor="let link of category.items">{{link.prefix}}: <a href="{{link.link}}">{{link.text}}</a>;</li>
                        </ul>
                    </div>
                    <div class="footer">
                        {{ '}' }}
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
